.brinquedos {
    padding: 120px 0;
  
    background: var(--color-white);
  }
  
  .brinquedos__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
  
  @media (max-width: 1000px) {
    .brinquedos__grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 600px) {
    .brinquedos {
      padding: 80px 0;
    }
  
    .brinquedos__grid {
      grid-template-columns: 1fr;
      gap: 16px;
    }
  }